extends layout 
 
block content 
  h1= title 
 
  if (toShow == null) 
    h2 No instance to delete 
  else 
    - let foodid = toShow._id 
    - let food_name = toShow.name 
    - let foodcolor = toShow.color 
    - let foodrating = toShow.rating 
    - let actionid = "/resource/foods/" + foodid 
    script let actionid = "#{actionid}" 
    div 
      div.row 
        div(class='foodAttr mr-3') Food ID is: 
        div #{foodid} 
      div.row 
        div(class='foodAttr mr-3') Food Name is: 
        div #{food_name} 
      div.row 
        div(class='foodAttr mr-3') Food Color is: 
        div #{foodcolor} 
      div.row 
        div(class='foodAttr mr-3') Food Rating is: 
        div #{foodrating} 
 
    button(class="btn btn-danger m-2" onclick="deleteOnid()") Delete 
    button(class="btn btn-secondary m-2" onclick="cancel()") Cancel 
 
  script. 
    function cancel() { 
      // Go back to the home page for the Food collection 
      window.location.href='/foods' 
    } 
  script. 
    function deleteOnid() { 
      console.log("starting delete") 
      // delete first 
      fetch(actionid, { 
        method: 'DELETE'      
      }).then((resp) => { 
        return resp.json(); // or resp.text() or whatever the server sends 
      }).then((body) => { 
        alert("Delete succeded") 
        window.location.href='/Foods' 
        // TODO handle body 
      }).catch((error) => { 
        // TODO handle error 
        alert("Delete failed " + error ) 
      }); 
    } 