extends layout

block content
  h1= title
  
  - let createDes = `dispatch(\"/resource/create\")`
  button.btn( class="btn-primary ml-1", onclick= createDes) +
  
  - let result = results
  div(class="container-fluid")
    div(class="row m-1")
      each value in result
        - let destination = `dispatch(\"/resource/update?id=${value._id}\")`
        - let deleteDestination = `dispatch(\"/resource/delete?id=${value._id}\")`
        - let detailDestination = `dispatch(\"/resource/detail?id=${value._id}\")`
        div(class="col-sm-2") Name: #{value.name} Color: #{value.color} Rating: #{value.rating}
          button.btn( class="btn-primary ml-1", onclick= destination) Update
          button.btn( class="btn-primary ml-1", onclick= deleteDestination) Delete
          button.btn( class="btn-primary ml-1", onclick= detailDestination) Details

    script. 
      function dispatch(path){ 
        window.location.href=path 
      }  